<!DOCTYPE html>
<html>
<head>
    <title>Event Registration</title>
</head>
<body>
    <h2>Event Registration Form</h2>
    <p>Served from Pod: {{ hostname }}</p>

    <form action="/register" method="post">
        Name: <input type="text" name="name" required><br><br>
        Email: <input type="email" name="email" required><br><br>

        Event:
        <select name="event">
            <option value="Hackathon">Hackathon</option>
            <option value="Workshop">Workshop</option>
            <option value="Seminar">Seminar</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>